#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-content {
    width: 20vw;
}

.right-content {
    width: 60vw;
    display: flex;
    justify-content: center;
}

img {
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    border-radius: 30%;
    box-shadow: 0 0 8px 0 rgba(71, 71, 71, 0.5);
    transition: 250ms;
}

img:hover {
    transform: scale(1.05);
    transition: 150ms;
    box-shadow: none;
}

#login-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    padding: 5rem;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(128, 128, 128, 0.4);
}

custom-button {
    float: left;
    margin-top: 12px;
    transition: 200ms;
    background-color: #EAE7B9;
}

custom-button:hover {
    color: #fff;
    transition: 200ms;
    transform: scale(1.05);
    background-color: #CD8E10;
    box-shadow: 2px 2px 6px 0px rgba(128, 128, 128, 0.6);
}