custom-input > input,
.custom-select {
    color: rgb(58, 58, 58);
    outline: none;
    font-size: 18px;
    padding: 4px 0px 4px 0px;
    width: 100%;
}

#custom-input-search {
    float: right;
}

.custom-label { 
    font-weight: 300;
    font-size: 21px;
}