custom-input > input,
.custom-select {
    color: rgb(58, 58, 58);
    outline: none;
    font-size: 18px;
    padding: 4px 0px 4px 4px;
    width: 100%;
    height: 100%;
}

#custom-input-search {
    float: right;
}

.custom-label { 
    font-weight: 300;
    font-size: 21px;
}

#header-container-dates {
    float: right;
}

custom-input > input[type=date] {
    width: 200px;
    margin-left: 5px;
}

#header-container-dates > custom-input {
    margin-left: 15px;
}

.text-atention-error {
    color: #da3434;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 4px;
}