custom-button {
    width: 16vw;
    height: 7vh;
    display: flex;
    font-size: 16px;
    box-shadow: 1px 2px 4px 0px rgba(128, 128, 128, 0.6);
    letter-spacing: .05rem;
    border-radius: .3rem;
    position: relative;
    transition: .2s all ease-in-out;
    cursor: pointer;
    user-select: none;
}

custom-button > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

i {
    margin-right: 10px;
}

.custom-buttom-save,
.custom-buttom-cancel {
    width: 40%;
    height: 50px;
}

.content-action-button {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.content-action-return {
    display: flex;
    justify-content: flex-start;
}

.content-action-button > custom-button,
.content-action-return > custom-button {
    width: 12vw;
    height: 6vh;
    margin-top: 15px;
}

.content-action-return > custom-button {
    margin-left: 5px;
}

.content-action-button > custom-button:before,
.content-action-return > custom-button:before,
#header-comanda-search > custom-button:before {
    display: block;
    position: absolute;
    background: transparent;
    border: none;
    border-radius: .3rem;
    transform: translateY(5px) scale(.9);
    content: '';
    height: 5px;
    z-index: -1;
    bottom: -1%;
    left: 0;
    right: 0;
    transition: .2s all ease-in-out;
}

.content-action-button > custom-button:hover:before,
.content-action-return > custom-button:hover:before,
#header-comanda-search > custom-button:hover:before {
    transform: translateY(8px) scale(.8);
    opacity: .8;
}

.content-action-button > custom-button:hover,
.content-action-return > custom-button:hover,
#header-comanda-search > custom-button:hover {
    transform: translateY(-5px)
}

#btn-add-quantidade,
#btn-add-comanda {
    float: right;
    width: 35px;
    box-shadow: none;
    height: 35px;
    border-radius: 6.4rem;
    letter-spacing: unset;
    border: 1px solid black;
    display: block;
    margin-right: 8px;
}

.custom-input-quantidade,
.custom-input-comanda {
    width: 88%;
}

#btn-add-quantidade .custom-button-btn-add-quantidade,
#btn-add-comanda .custom-button-btn-add-comanda {
    height: 100%;
}

#btn-add-quantidade .custom-button-btn-add-quantidade > i,
#btn-add-comanda .custom-button-btn-add-comanda > i {
    margin: 0;
}