#section-custom-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#section-custom-header {
    width: 100%;
    height: 12vh;
    padding: 20px 20px 0px 20px;
}

#section-custom-main {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
}