#header-container-search > .custom-select {
    width: 15%;
    float: right;
    margin-left: 10px;
}

#section-custom-header #custom-input-search {
    width: 30%;
}

#header-container-search,
#header-comanda-search {
    width: 100%;
    height: 100%;
}

#header-comanda-search {
    display: flex;
    justify-content: space-between;
}

#header-comanda-search #comanda {
    width: 30%;
}